@import "../../SassConfig/config";

* {
  box-sizing: border-box;
}

section {
  @include flex(2);
  @include direction(column);
  @include set-marg(4px 2px 2px 4px);
  @include set-pad(3px 5px 5px 3px);
  border: $default-border;
  border-radius: 5px;
}
