@import "../../SassConfig/config";

* {
  @include flex(2);
  @include set-pad(4px 2px 2px 4px);
  @include set-marg(5px 2px 2px 5px);
  box-sizing: border-box;
}

div[role="alert"] {
  color: red;
  font-family: monospace;
}

.LoginForm {
  background-color: $secondary-color;
}
