@import "../../SassConfig/config";

* {
  box-sizing: border-box;
}

section {
  @include flex(4);
  @include direction(column);
  @include set-marg(4px 2px 2px 4px);
  @include set-pad(3px 5px 5px 3px);
  background-color: $secondary-color;
  border: $default-border;
}

h2 {
  @include flex(2);
  @include direction(column);
  @include set-marg(4px 2px 2px 4px);
  @include set-pad(3px 5px 5px 3px);
  background-color: $secondary-color;
  font-weight: 300;
  border: $default-border;
}
