$primary-color: #53adad;
$secondary-color: green;
$ternary-color: orange;
$form-color: #d4cccc;

$default-border: 5px solid black;

$fonts: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -ms-flex: $values;
  -webkit-flex: $values;
  flex: $values;
}

@mixin direction($direction) {
  @if $direction == column {
    -webkit-flex-direction: vertical;
    -moz-flex-direction: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  } @else {
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

@mixin child-flex {
  display: flex;
  flex-flow: column;
}

@mixin set-pad($values) {
  @each $var in $values {
    padding: #{$var};
  }
}

@mixin set-marg($values) {
  @each $var in $values {
    padding: #{$var};
  }
}
